<ng-link-viewport (heightChanged)="setViewportHeight($event)"
                  (widthChanged)="setViewportWidth($event)"
                  (leftChanged)="setViewportLeft($event)"
                  (topChanged)="setViewportTop($event)">

  <ng-container *ngIf="!hideEndpoints">

    <div [style.height.px]="height">
      <ng-container *ngFor="let link of visibleEndpoints">
        <app-test-endpoint *ngIf="isEndpointVisible(link.start)"
                           [x]="link.start.x"
                           [y]="link.start.y - (buttonHeight / 2)"
                           [height]="buttonHeight"
                           [width]="buttonWidth"
                           [link]="link"
                           [start]="true">
          <app-test-endpoint-info [link]="link"></app-test-endpoint-info>
        </app-test-endpoint>
        <app-test-endpoint *ngIf="isEndpointVisible(link.end)"
                           [x]="getButtonEndX(link)"
                           [y]="link.end.y - (buttonHeight / 2)"
                           [height]="buttonHeight"
                           [width]="buttonWidth"
                           [link]="link"
                           [end]="true">
          <app-test-endpoint-info [link]="link"></app-test-endpoint-info>
        </app-test-endpoint>

      </ng-container>
    </div>

  </ng-container>
</ng-link-viewport>
